body {
  background: #111;
  color: #aaa;
  margin: 0;
  line-height: 1.5;
  font-family: helvetica, arial, sans-serif;
  overflow-wrap: break-word;
}

header, main, footer {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

header {
  margin-bottom: 1em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

a:link, a:visited {
  color: #7ae;
  text-decoration: none
}

a:hover, a:active {
  color: #8bf;
  text-decoration: underline;
}

h1 a:link, h1 a:visited,
nav a:link, nav a:visited {
  color: #aaa;
}

h1 a:hover, h1 a:active,
nav a:hover, nav a:active
{
  color: #ccc;
}

nav a {
  margin-right: 1em;
}

nav a:last-child {
  margin-right: 0;
}

figure {
  text-align: center;
  margin: 0;
}

figcaption {
  margin-bottom: 1em;
  display: inline-block;
  text-align: left;
  max-width: 40em;
}

hr {
  max-width: 42em;
  margin: 1em auto;
  border: 0;
  border-bottom: thin dotted gray;
}

/* Photo list page and photo page */
.photos, .photo {
  text-align: center;
}

.photos img, .photo img {
  max-width: 100%;
  max-height: 90vh;
}

/* Photo list page */
.subtitle {
  font-size: small;
  font-style: italic;
  margin-bottom: 2em;
}

.photos figure {
  margin-bottom: 2em;
}

.photos figure:last-child {
  margin: 0;
}

.photos .widget {
  margin: 0.5em auto;
}

/* Photo page */
.photo main {
  max-width: 100%;
  padding: 0;
}

.photo figcaption, .photo .meta {
  padding: 0 1em;
}

.photo .widget {
  display: table;
  margin: 0 auto;
}

.photo img {
  display: table-cell;
}

.sidenav {
  display: none;
}

.footnav {
  display: table;
  width: 100%;
  margin: 0 auto;
  font-size: x-large;
}

.footnav .left {
  display: table-cell;
  text-align: left;
  padding-left: 0.5em;
}

.footnav .right {
  display: table-cell;
  text-align: right;
  padding-right: 0.5em;
}

.footnav a:link, .footnav a:visited,
.sidenav a:link, .sidenav a:visited {
  color: #999;
}

.footnav a:hover, .footnav a:active,
.sidenav a:hover, .sidenav a:active {
  text-decoration: none;
  color: #ccc;
}

/* Generic */
.meta {
  font-size: small;
  font-style: italic;
  color: #999;
}

.sep {
  margin: 0 0.3em;
}

/* Wide screen layout */
@media screen and (min-width: 42em) {
  .sidenav {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em;
    font-size: x-large;
  }

  .footnav {
    display: none;
  }

  .photo .widget {
    margin: 1em auto;
  }

  .photo main {
    padding: 0 1em;
  }
}
