<main>
  <figure>
    <div class="widget">
      <div class="sidenav"><a href="{{ prev }}">&laquo;</a></div>
      <img src="{{ photo }}" alt="Photo {{ index }}">
      <div class="sidenav"><a href="{{ next }}">&raquo;</a></div>
    </div>
    <div class="footnav">
      <div class="left"><a href="{{ prev }}">&laquo;</a></div>
      <div class="right"><a href="{{ next }}">&raquo;</a></div>
    </div>
    <figcaption>{{ story }}</figcaption>
  </figure>
  <div class="meta">
    Taken on {{ date }}
    <span class="sep">&bull;</span>

    {{ license }}
    <span class="sep">&bull;</span>

    #{{ index }} of {{ total }} photos from <a href="./">{{ album }}</a>
  </div>
</main>
